html, body {
    height: 100%; /* Asegura que el cuerpo ocupe el 100% de la altura de la ventana */
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor principal ocupe el 100% de la altura de la ventana */
}

.btn {
    display: flex; /* Utilizar flexbox */
    align-items: center; /* Centrar verticalmente */
    margin-right: 5px;
    border:none;
    background: none;
}

.btn:hover {
    transform: scale(1.5) rotate(5deg); /* Cambiar el tamaño y rotación en hover */
    cursor: pointer; /* cambia el cursor al dedo */
    border:none
}


/* Navbar */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px 10px 10px;
}

.navbar-left {
    flex: left;
}

.navbar-center {
    flex: 1; /* Permite que "SimplyNotes" ocupe todo el espacio restante */
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 24px; /* Ajusta el tamaño de fuente según tus preferencias */
    font-weight: bold; /* Opcional: Añade negrita al texto */
}

.navbar-right {
    display: flex;
    align-items: center;
}

.menu-icon {
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
}

.menu-options {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
    color: whitesmoke;
    left: 1.5em;
    top: 2.5em;
    z-index: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.menu-option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-option:hover {
    background-color: #555;
}

.menu-show {
    display: block;
}

.nav-btn{
    display : inline ;
    margin-right: 2em;
    font-size: 1.5em !important;
}

/* Dashboard */

.dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Formato de cuadrícula */
    gap: 20px; /* Espacio entre las tarjetas */
}

.dsh-header{
    font-size: 1em;
    margin-top: 1em;
}

.dsh-header.


/* CardNotes */

.note-card{
    position: relative; /* Contenedor relativo */
}

.card-content{
    max-height: 200px;
    text-align: left;
    overflow-y: auto;
} 

.post-it {
    background: none repeat scroll 0 0 #97C02F; /* color de fondo */
    padding: 10px;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 2.5em;
    color: #FFFFFF; /* color de texto */
    overflow-y: auto;
}

.post-it::before {
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    background: none repeat scroll 0 0 #658E15; /* color esquina */
    border-color: #FFFFFF #FFFFFF #658E15 #658E15; /* color de borde */
    border-style: solid;
    border-width: 0 16px 16px 0;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}

.post-it:hover{
    cursor: pointer;
    /* scale: 1.05; */
}

.archived-post-it {
    background: none repeat scroll 0 0 #53A3B4; /* color de fondo */
    padding: 10px;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 2.5em; 
    color: #FFFFFF; /* color de texto */
}
.archived-post-it:before {
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    background: none repeat scroll 0 0 #156c8e; /* color de fondo */
    border-color: #FFFFFF #FFFFFF #156c8e #156c8e; /* color de esquina */
    border-style: solid;
    border-width: 0 16px 16px 0;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}

.actions {
    position: absolute; /* Contenedor absoluto */
    bottom: 0; /* Anclar en la parte inferior */
    left: 0; /* Alinear a la izquierda (ajusta esto según tus necesidades) */
    right: 0; /* Alinear a la derecha (ajusta esto según tus necesidades) */
    padding: 10px; /* Espaciado interior del pie de tarjeta */
    /* Otras propiedades de estilo para .actions */
}

.btn-card {
    display: flex; /* Utilizar flexbox */
    align-items: center; /* Centrar verticalmente */
    margin-right: 15px;
}

/* ModalNote */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que el modal esté por encima del contenido */
}

.modal {
    background-color: rgba(255, 255, 255, 0.6);
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10000; /* Asegura que el modal esté por encima del overlay */
}

.input-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    margin-bottom: 10px; /* Espacio entre los campos */
}

.input-container label {
    flex: 1; /* El título ocupa el espacio restante */
    margin-right: 10px; /* Espacio entre el título y el input */
}

.input-container input,
.input-container textarea {
    flex: 4; /* El input ocupa la mayor parte del espacio */
}

.text-area{
    width : 80%;
    height: 150px;
}

.buttons{
    display:flex;
    justify-content:center ;
}

.close-button {
    position: absolute;
    background: none;
    border: none;
    text-size-adjust: 3em;
    top: 10px;
    right: 10px;
}



.delete-icon {
    color: #B32353; /* Color rojo */
}

.archive-icon{
    color: #53A3B4; /* Color azul */ 
}

.save-icon{
    color: #97C02F; /* Color verde */
}

.edit-icon{
    color:#FF860E; /*Color naranja*/
}

.icon{
    font-size: 1.5em;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px; /* Espaciado interior del footer */
    position: fixed; /* Fijar el footer en la pantalla */
    bottom: 0; /* Anclar el footer en la parte inferior */
    width: 100%; /* Ocupar todo el ancho disponible */
}

.footer-left {
    flex: left;
    font-size: 1em;
    /* font-weight: bold; /* Opcional: Añade negrita al texto */
}

.footer-center {
    flex: 1; /* Permite que "SimplyNotes" ocupe todo el espacio restante */
    text-align: center; /* Centra el texto horizontalmente */
}

.footer-rigth {
    flex: right;
    margin-right: 2em;
    /* font-weight: bold; /* Opcional: Añade negrita al texto */
}

.footer-icon {
    margin-right: 5%;
    color: #FFFFFF;
    font-size: 2em;
}

.footer-icon:hover{
    transform: scale(1.5) rotate(5deg); /* Cambiar el tamaño y rotación en hover */
    cursor: pointer; /* cambia el cursor al dedo */
}


div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #4CAF50 !important;
    color: #fff;
    font-size: 1em;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgba(155, 230, 140, 0.5);
}
